body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, th, td {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	font: 12px arial,tahoma,helvetica,freesans,clean,sans-serif;
}

a {
	text-decoration: none;
}

a:link {
	color: #249FA3;
}

a:visited {
	color: #7C93A1;
}

a:hover {
	color: #5DC2C0;
}


pre, code {
	font: 12px Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}

code {
	background-color: #f8f8ff;
	border: 1px solid #dedede;
	padding: 0 .2em;
}

pre code {
	display: block;
	padding: 0.5em;
	white-space: pre-wrap;
}

h2 {
	color: #000000;
	font-size: 11px;
	font-style: bold;
	margin: 0 0 1em;
	text-transform: uppercase;
}

#header-wrapper {
	height: 80px;
	background-color: #EBEBEB;
}

#header {
	width: 940px;
	margin: 0 auto;
	padding: 15px;
}


#main-wrapper {
	width: 942px;
	margin: 0 auto 60px;
}

#main {
}

#footer-wrapper {
	height: 80px;
	background-color: #202020;
	border-top: 5px solid #CCCCCC;
}

#footer {
	width: 940px;
	margin: 0 auto;
	color: #848484;
	font-size: 12px;
	padding: 30px 0;
}

a#blog-title:visited {
	color: #249FA3;
}

a#blog-title:hover {
	color: #5DC2C0;
}

#content {
	float: left;
	width: 620px;
	margin: 30px;
}

#sidebar {
	float: left;
	width: 260px;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

.post {
	font-size: 110%;
	margin-bottom: 30px;
}

.post-image {
	text-align: center;
	margin: 5px;
}

.post-tags {
	margin: 10px;
}

.tag-posts {
	margin: 10px;
}

#tags {
	margin: 30px;
}

#tags-cloud {
	text-align: center;
	font-size: 130%;
}

#tags-cloud span {
	margin: 0 0.3em;
}

h2.date-header {
	color: #000000;
	font: bold 11px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
	margin: 0 0 1em;
	text-transform: uppercase;
}

h3.post-title {
	font-size: 22px;
	margin-bottom: 15px;
}
